.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 45%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    min-height: 40vh;
    text-align: left;
    word-wrap: break-word;
} 