

/* .loginbox {
    background-color: #282c34;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 150px;
    border-radius: 25px;
    border-color: rgb(0, 89, 179);
    position: absolute;
    justify-content: center;

    margin:0 auto;

    width: 60%;
  
    border: 5px solid #FFFF00;
  
    padding: 20px;
} */

.loginbox {
    width: 450px;
    height: 250px; 
    background: rgb(0, 89, 179);
    margin:0 auto;
    border-radius: 25px;
    border-color: rgb(0, 89, 179);
    padding: 20px;
}

.logintext {
    color: white;
}

.logo {
    left: 0px;
    max-width: 15%;
    max-height: 15%;
  }
  
.logo img {
    max-width: 12.5%;
    max-height: 12.5%;
    margin: 0px;
}