.masthead {
  position: relative;
  padding: 15px;
  background: #005489;
  color: white;
  font-size: 30px;
}

.logo {
  left: 25px;
  max-width: 15%;
  max-height: 15%;
}

.logo img {
  max-width: 200px;
  max-height: 200px;
  margin: 0px;
}

.menu {
  position: absolute;
  right: 25px;
  max-width: 15%;
  max-height: 15%;
}

.menu img {
  margin-top: 5px;
  padding: auto;
}

.dropbtn {
  background: #005489;
  color: white;
  border: none;
}

.dropdown {
  display: inline-block;
  height: 100%px;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background: #005489cb;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  text-align: left;
  font-size: 22px;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content span img {
  position: relative;
  margin-right: 10px;
  margin-bottom: -10px;
  left: 0px;
}

.dropdown-content span:hover {
  background-color: #9ea3a79d;
}

.dropdown:hover .dropdown-content {
  display: block;
}
