.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .notebookContent {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
	border-style: outset;
	position: relative;
	
  }

  .hrow {
    background-color: blanchedalmond;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .detective {
	width:60px;
	height : 100px;
	position: relative;
    float: left;
	
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .notebookHeader {
   float: left;   
  }

  .sectionHeader {
    float: left;   
   }

   .sectionText {
    float: left;   
   }

  table, td, th {
    border: 1px solid black;
  }
  
  .orow{
	  background-color: #e9e9e9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .notebookCello {
      width: 15%;
	  cursor : url(/gameboard/hand.png) 3 10, url(/gameboard/hand.svg) 3 10, pointer;
  }

  .notebookCell {
      width: 15%;
	  cursor : url(/gameboard/hand.png) 3 10, url(/gameboard/hand.svg) 3 10, pointer;
  }

  .notebookHeader {
    width: 100%;
  }